@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

html{
  font-size: 62.5%;
}

.container{
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}

.qrcode-section{
  width: 40%;
  height: 70vh;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-code-img{
  width: 90%;
  height: 250px;
  object-fit: cover;
  border-radius: 8%;
}
